span.task[al-abomasnow]:before { content: "4" ; }
span.task[al-abra]:before { content: "2" ; }
span.task[al-absol]:before { content: "10" ; }
span.task[al-accelgor]:before { content: "3" ; }
span.task[al-aegislash]:before { content: "3" ; }
span.task[al-aerodactyl]:before { content: "6" ; }
span.task[al-aggron]:before { content: "8" ; }
span.task[al-aipom]:before { content: "2" ; }
span.task[al-alaskazam]:before { content: "7" ; }
span.task[al-alomomola]:before { content: "1" ; }
span.task[al-altaria]:before { content: "5" ; }
span.task[al-amaura]:before { content: "1" ; }
span.task[al-ambipom]:before { content: "3" ; }
span.task[al-amoongus]:before { content: "2" ; }
span.task[al-ampharos]:before { content: "6" ; }
span.task[al-anorith]:before { content: "1" ; }
span.task[al-araquanid]:before { content: "3" ; }
span.task[al-arbok]:before { content: "5" ; }
span.task[al-arcanine]:before { content: "5" ; }
span.task[al-archen]:before { content: "1" ; }
span.task[al-archeops]:before { content: "4" ; }
span.task[al-ariados]:before { content: "3" ; }
span.task[al-armaldo]:before { content: "4" ; }
span.task[al-aromatisse]:before { content: "3" ; }
span.task[al-aron]:before { content: "1" ; }
span.task[al-audino]:before { content: "4" ; }
span.task[al-aurorus]:before { content: "2" ; }
span.task[al-avalugg]:before { content: "4" ; }
span.task[al-axew]:before { content: "1" ; }
span.task[al-azumarill]:before { content: "5" ; }
span.task[al-azurill]:before { content: "1" ; }
span.task[al-bagon]:before { content: "1" ; }
span.task[al-baltoy]:before { content: "1" ; }
span.task[al-banette]:before { content: "5" ; }
span.task[al-barbaracle]:before { content: "4" ; }
span.task[al-barboach]:before { content: "1" ; }
span.task[al-basculin]:before { content: "1" ; }
span.task[al-bastiodon]:before { content: "4" ; }
span.task[al-bayleef]:before { content: "2" ; }
span.task[al-beartic]:before { content: "4" ; }
span.task[al-beautifly]:before { content: "1" ; }
span.task[al-beedrill]:before { content: "1" ; }
span.task[al-beheeyem]:before { content: "4" ; }
span.task[al-beldum]:before { content: "1" ; }
span.task[al-bellossom]:before { content: "3" ; }
span.task[al-bellsprout]:before { content: "1" ; }
span.task[al-bergmite]:before { content: "1" ; }
span.task[al-bewear]:before { content: "4" ; }
span.task[al-bibarel]:before { content: "4" ; }
span.task[al-bidoof]:before { content: "1" ; }
span.task[al-binaclle]:before { content: "1" ; }
span.task[al-bisharp]:before { content: "3" ; }
span.task[al-blastoise]:before { content: "6" ; }
span.task[al-blaziken]:before { content: "5" ; }
span.task[al-blissey]:before { content: "8" ; }
span.task[al-blitzle]:before { content: "1" ; }
span.task[al-boldore]:before { content: "2" ; }
span.task[al-bonsly]:before { content: "1" ; }
span.task[al-bouffalant]:before { content: "3" ; }
span.task[al-bounsweet]:before { content: "1" ; }
span.task[al-braixen]:before { content: "2" ; }
span.task[al-braviary]:before { content: "3" ; }
span.task[al-breloom]:before { content: "4" ; }
span.task[al-brionne]:before { content: "2" ; }
span.task[al-bronzong]:before { content: "4" ; }
span.task[al-bronzor]:before { content: "1" ; }
span.task[al-bruxish]:before { content: "2" ; }
span.task[al-budew]:before { content: "1" ; }
span.task[al-buizel]:before { content: "1" ; }
span.task[al-bulbasaur]:before { content: "1" ; }
span.task[al-buneary]:before { content: "1" ; }
span.task[al-bunnelby]:before { content: "1" ; }
span.task[al-burmy]:before { content: "1" ; }
span.task[al-butterfree]:before { content: "1" ; }
span.task[al-cacnea]:before { content: "1" ; }
span.task[al-cacturne]:before { content: "3" ; }
span.task[al-camerupt]:before { content: "3" ; }
span.task[al-carbink]:before { content: "1" ; }
span.task[al-carnivine]:before { content: "1" ; }
span.task[al-carracosta]:before { content: "3" ; }
span.task[al-carvanha]:before { content: "1" ; }
span.task[al-cascoon]:before { content: "1" ; }
span.task[al-castform]:before { content: "2" ; }
span.task[al-caterpie]:before { content: "1" ; }
span.task[al-chandelure]:before { content: "4" ; }
span.task[al-chansey]:before { content: "5" ; }
span.task[al-charizard]:before { content: "5" ; }
span.task[al-charmander]:before { content: "1" ; }
span.task[al-charmeleon]:before { content: "2" ; }
span.task[al-charjabug]:before { content: "2" ; }
span.task[al-chatot]:before { content: "2" ; }
span.task[al-cherrim]:before { content: "2" ; }
span.task[al-cherubi]:before { content: "1" ; }
span.task[al-chesnaught]:before { content: "3" ; }
span.task[al-chespin]:before { content: "1" ; }
span.task[al-chikorita]:before { content: "1" ; }
span.task[al-chimchar]:before { content: "1" ; }
span.task[al-chimecho]:before { content: "2" ; }
span.task[al-chinchou]:before { content: "3" ; }
span.task[al-chingling]:before { content: "1" ; }
span.task[al-cinccino]:before { content: "2" ; }
span.task[al-clamperl]:before { content: "1" ; }
span.task[al-clauncher]:before { content: "1" ; }
span.task[al-clawitzer]:before { content: "4" ; }
span.task[al-claydol]:before { content: "5" ; }
span.task[al-clefable]:before { content: "10" ; }
span.task[al-clefairy]:before { content: "4" ; }
span.task[al-cleffa]:before { content: "1" ; }
span.task[al-cloyster]:before { content: "4" ; }
span.task[al-cofagrigus]:before { content: "2" ; }
span.task[al-combee]:before { content: "1" ; }
span.task[al-combusken]:before { content: "2" ; }
span.task[al-comfey]:before { content: "2" ; }
span.task[al-conkeldurr]:before { content: "6" ; }
span.task[al-corphish]:before { content: "1" ; }
span.task[al-corsola]:before { content: "1" ; }
span.task[al-cottonee]:before { content: "1" ; }
span.task[al-crabominable]:before { content: "3" ; }
span.task[al-crabrawler]:before { content: "1" ; }
span.task[al-cradily]:before { content: "5" ; }
span.task[al-cranidos]:before { content: "3" ; }
span.task[al-crawdaunt]:before { content: "3" ; }
span.task[al-croagunk]:before { content: "1" ; }
span.task[al-crobat]:before { content: "5" ; }
span.task[al-croconaw]:before { content: "2" ; }
span.task[al-crustle]:before { content: "4" ; }
span.task[al-cryogonal]:before { content: "3" ; }
span.task[al-cubchoo]:before { content: "1" ; }
span.task[al-cubone]:before { content: "2" ; }
span.task[al-cutiefly]:before { content: "1" ; }
span.task[al-cyndaquil]:before { content: "1" ; }
span.task[al-darmanitan]:before { content: "4" ; }
span.task[al-dartrix]:before { content: "2" ; }
span.task[al-darumaka]:before { content: "1" ; }
span.task[al-decidueye]:before { content: "4" ; }
span.task[al-dedenne]:before { content: "1" ; }
span.task[al-deerling]:before { content: "1" ; }
span.task[al-deino]:before { content: "1" ; }
span.task[al-delcatty]:before { content: "3" ; }
span.task[al-delibird]:before { content: "1" ; }
span.task[al-delphox]:before { content: "5" ; }
span.task[al-dewgong]:before { content: "2" ; }
span.task[al-dewott]:before { content: "2" ; }
span.task[al-dewpider]:before { content: "1" ; }
span.task[al-dhelmise]:before { content: "4" ; }
span.task[al-diggersby]:before { content: "5" ; }
span.task[al-diglett]:before { content: "1" ; }
span.task[al-diglett-alolan]:before { content: "1" ; }
span.task[al-ditto]:before { content: "1" ; }
span.task[al-dodrio]:before { content: "3" ; }
span.task[al-doduo]:before { content: "1" ; }
span.task[al-donphan]:before { content: "5" ; }
span.task[al-doublade]:before { content: "2" ; }
span.task[al-dragalge]:before { content: "4" ; }
span.task[al-dragonair]:before { content: "4" ; }
span.task[al-dragonite]:before { content: "10" ; }
span.task[al-drampa]:before { content: "8" ; }
span.task[al-drapion]:before { content: "7" ; }
span.task[al-dratini]:before { content: "2" ; }
span.task[al-drifblim]:before { content: "4" ; }
span.task[al-drifloon]:before { content: "1" ; }
span.task[al-drilbur]:before { content: "1" ; }
span.task[al-drowzee]:before { content: "1" ; }
span.task[al-druddigon]:before { content: "6" ; }
span.task[al-ducklett]:before { content: "1" ; }
span.task[al-dugtrio]:before { content: "3" ; }
span.task[al-dugtrio-alolan]:before { content: "3" ; }
span.task[al-dunsparce]:before { content: "4" ; }
span.task[al-duosion]:before { content: "2" ; }
span.task[al-durant]:before { content: "4" ; }
span.task[al-dusclops]:before { content: "5" ; }
span.task[al-dusknoir]:before { content: "6" ; }
span.task[al-duskull]:before { content: "1" ; }
span.task[al-dustox]:before { content: "1" ; }
span.task[al-dwebble]:before { content: "1" ; }
span.task[al-eelektrik]:before { content: "2" ; }
span.task[al-eelektross]:before { content: "10" ; }
span.task[al-eevee]:before { content: "1" ; }
span.task[al-ekans]:before { content: "1" ; }
span.task[al-electabuzz]:before { content: "5" ; }
span.task[al-electivire]:before { content: "7" ; }
span.task[al-electrike]:before { content: "1" ; }
span.task[al-electrode]:before { content: "2" ; }
span.task[al-elekid]:before { content: "1" ; }
span.task[al-elgyem]:before { content: "1" ; }
span.task[al-emboar]:before { content: "5" ; }
span.task[al-emolga]:before { content: "1" ; }
span.task[al-empoleon]:before { content: "5" ; }
span.task[al-escavalier]:before { content: "3" ; }
span.task[al-espeon]:before { content: "3" ; }
span.task[al-espurr]:before { content: "1" ; }
span.task[al-excadrill]:before { content: "3" ; }
span.task[al-exeggcute]:before { content: "1" ; }
span.task[al-exeggutor]:before { content: "2" ; }
span.task[al-exeggutor-alolan]:before { content: "3" ; }
span.task[al-exploud]:before { content: "8" ; }
span.task[al-farfetchd]:before { content: "3" ; }
span.task[al-fearow]:before { content: "2" ; }
span.task[al-feebas]:before { content: "1" ; }
span.task[al-fennekin]:before { content: "1" ; }
span.task[al-feraligatr]:before { content: "1" ; }
span.task[al-ferroseed]:before { content: "1" ; }
span.task[al-ferrothorn]:before { content: "3" ; }
span.task[al-finneon]:before { content: "1" ; }
span.task[al-flaaffy]:before { content: "2" ; }
span.task[al-flabebe]:before { content: "1" ; }
span.task[al-flareon]:before { content: "3" ; }
span.task[al-fletchinder]:before { content: "2" ; }
span.task[al-fletchling]:before { content: "1" ; }
span.task[al-floatzel]:before { content: "4" ; }
span.task[al-floette]:before { content: "2" ; }
span.task[al-florges]:before { content: "3" ; }
span.task[al-flygon]:before { content: "8" ; }
span.task[al-fomantis]:before { content: "1" ; }
span.task[al-foongus]:before { content: "1" ; }
span.task[al-forretress]:before { content: "6" ; }
span.task[al-fraxure]:before { content: "2" ; }
span.task[al-frillish]:before { content: "1" ; }
span.task[al-froakie]:before { content: "1" ; }
span.task[al-frogadier]:before { content: "2" ; }
span.task[al-froslass]:before { content: "4" ; }
span.task[al-furfrou]:before { content: "1" ; }
span.task[al-furret]:before { content: "4" ; }
span.task[al-gabite]:before { content: "2" ; }
span.task[al-gallade]:before { content: "10" ; }
span.task[al-galvantula]:before { content: "4" ; }
span.task[al-garbodor]:before { content: "4" ; }
span.task[al-garchomp]:before { content: "5" ; }
span.task[al-gardevoir]:before { content: "7" ; }
span.task[al-gastly]:before { content: "1" ; }
span.task[al-gastrodon]:before { content: "4" ; }
span.task[al-gengar]:before { content: "10" ; }
span.task[al-geodude]:before { content: "1" ; }
span.task[al-geodude-alolan]:before { content: "1" ; }
span.task[al-gible]:before { content: "1" ; }
span.task[al-gigalith]:before { content: "3" ; }
span.task[al-girafarig]:before { content: "3" ; }
span.task[al-glaceon]:before { content: "3" ; }
span.task[al-glalie]:before { content: "4" ; }
span.task[al-glameow]:before { content: "1" ; }
span.task[al-gligar]:before { content: "3" ; }
span.task[al-gliscor]:before { content: "5" ; }
span.task[al-gloom]:before { content: "2" ; }
span.task[al-gogoat]:before { content: "4" ; }
span.task[al-golbat]:before { content: "3" ; }
span.task[al-goldeen]:before { content: "1" ; }
span.task[al-golduck]:before { content: "6" ; }
span.task[al-golem]:before { content: "4" ; }
span.task[al-golem-alolan]:before { content: "4" ; }
span.task[al-golett]:before { content: "1" ; }
span.task[al-golisopod]:before { content: "4" ; }
span.task[al-golurk]:before { content: "5" ; }
span.task[al-goodra]:before { content: "9" ; }
span.task[al-goomy]:before { content: "1" ; }
span.task[al-gorebyss]:before { content: "2" ; }
span.task[al-gothita]:before { content: "1" ; }
span.task[al-gothitelle]:before { content: "4" ; }
span.task[al-gothorita]:before { content: "2" ; }
span.task[al-gourgeist]:before { content: "4" ; }
span.task[al-granbull]:before { content: "6" ; }
span.task[al-graveler]:before { content: "3" ; }
span.task[al-graveler-alolan]:before { content: "2" ; }
span.task[al-greninja]:before { content: "5" ; }
span.task[al-grimer]:before { content: "3" ; }
span.task[al-grimer-alolan]:before { content: "3" ; }
span.task[al-grotle]:before { content: "2" ; }
span.task[al-grovyle]:before { content: "2" ; }
span.task[al-growlithe]:before { content: "1" ; }
span.task[al-grubbin]:before { content: "1" ; }
span.task[al-grumpig]:before { content: "3" ; }
span.task[al-gulpin]:before { content: "1" ; }
span.task[al-gumshoos]:before { content: "2" ; }
span.task[al-gurdurr]:before { content: "3" ; }
span.task[al-gyarados]:before { content: "5" ; }
span.task[al-hakamo-o]:before { content: "2" ; }
span.task[al-happiny]:before { content: "1" ; }
span.task[al-hariyama]:before { content: "6" ; }
span.task[al-haunter]:before { content: "5" ; }
span.task[al-hawlucha]:before { content: "3" ; }
span.task[al-haxorus]:before { content: "4" ; }
span.task[al-heatmor]:before { content: "4" ; }
span.task[al-heliolisk]:before { content: "4" ; }
span.task[al-helioptile]:before { content: "1" ; }
span.task[al-hippopotas]:before { content: "1" ; }
span.task[al-hippowdon]:before { content: "4" ; }
span.task[al-hitmonchan]:before { content: "3" ; }
span.task[al-hitmonlee]:before { content: "3" ; }
span.task[al-hitmontop]:before { content: "3" ; }
span.task[al-honchkrow]:before { content: "4" ; }
span.task[al-honedge]:before { content: "1" ; }
span.task[al-hoothoot]:before { content: "1" ; }
span.task[al-hoppip]:before { content: "1" ; }
span.task[al-horsea]:before { content: "1" ; }
span.task[al-houndoom]:before { content: "3" ; }
span.task[al-houndour]:before { content: "1" ; }
span.task[al-huntail]:before { content: "2" ; }
span.task[al-hydreigon]:before { content: "9" ; }
span.task[al-hypno]:before { content: "4" ; }
span.task[al-igglybuff]:before { content: "1" ; }
span.task[al-illumise]:before { content: "4" ; }
span.task[al-incineroar]:before { content: "4" ; }
span.task[al-infernape]:before { content: "7" ; }
span.task[al-inkay]:before { content: "1" ; }
span.task[al-ivysaur]:before { content: "2" ; }
span.task[al-jangmo-o]:before { content: "1" ; }
span.task[al-jellicent]:before { content: "3" ; }
span.task[al-jigglypuff]:before { content: "4" ; }
span.task[al-jolteon]:before { content: "3" ; }
span.task[al-joltik]:before { content: "1" ; }
span.task[al-jumpluff]:before { content: "3" ; }
span.task[al-jynx]:before { content: "4" ; }
span.task[al-kabuto]:before { content: "1" ; }
span.task[al-kabutops]:before { content: "4" ; }
span.task[al-kadabra]:before { content: "3" ; }
span.task[al-kakuna]:before { content: "1" ; }
span.task[al-kangaskhan]:before { content: "7" ; }
span.task[al-karrablast]:before { content: "1" ; }
span.task[al-kecleon]:before { content: "4" ; }
span.task[al-kingdra]:before { content: "4" ; }
span.task[al-kingler]:before { content: "3" ; }
span.task[al-kirlia]:before { content: "3" ; }
span.task[al-klang]:before { content: "2" ; }
span.task[al-klefki]:before { content: "1" ; }
span.task[al-klink]:before { content: "1" ; }
span.task[al-klinklang]:before { content: "3" ; }
span.task[al-koffing]:before { content: "1" ; }
span.task[al-komala]:before { content: "3" ; }
span.task[al-kommo-o]:before { content: "4" ; }
span.task[al-krabby]:before { content: "1" ; }
span.task[al-kricketot]:before { content: "1" ; }
span.task[al-kricketune]:before { content: "1" ; }
span.task[al-krokorok]:before { content: "2" ; }
span.task[al-krookodile]:before { content: "4" ; }
span.task[al-lairon]:before { content: "2" ; }
span.task[al-lampent]:before { content: "2" ; }
span.task[al-lanturn]:before { content: "6" ; }
span.task[al-lapras]:before { content: "10" ; }
span.task[al-larvesta]:before { content: "1" ; }
span.task[al-larvitar]:before { content: "1" ; }
span.task[al-leafeon]:before { content: "2" ; }
span.task[al-leavanny]:before { content: "3" ; }
span.task[al-ledian]:before { content: "2" ; }
span.task[al-ledyba]:before { content: "1" ; }
span.task[al-lickilicky]:before { content: "9" ; }
span.task[al-lickitung]:before { content: "5" ; }
span.task[al-liepard]:before { content: "2" ; }
span.task[al-lileep]:before { content: "1" ; }
span.task[al-lilligant]:before { content: "2" ; }
span.task[al-lillipup]:before { content: "1" ; }
span.task[al-linoone]:before { content: "3" ; }
span.task[al-litleo]:before { content: "1" ; }
span.task[al-litten]:before { content: "1" ; }
span.task[al-litwick]:before { content: "1" ; }
span.task[al-lombre]:before { content: "4" ; }
span.task[al-lopunny]:before { content: "5" ; }
span.task[al-lotad]:before { content: "1" ; }
span.task[al-loudred]:before { content: "3" ; }
span.task[al-lucario]:before { content: "7" ; }
span.task[al-ludicolo]:before { content: "8" ; }
span.task[al-lumineon]:before { content: "2" ; }
span.task[al-lunatone]:before { content: "3" ; }
span.task[al-lurantis]:before { content: "2" ; }
span.task[al-luvdisc]:before { content: "1" ; }
span.task[al-luxio]:before { content: "2" ; }
span.task[al-luxray]:before { content: "4" ; }
span.task[al-lycanroc]:before { content: "2" ; }
span.task[al-machamp]:before { content: "6" ; }
span.task[al-machoke]:before { content: "3" ; }
span.task[al-machop]:before { content: "1" ; }
span.task[al-magby]:before { content: "1" ; }
span.task[al-magcargo]:before { content: "2" ; }
span.task[al-magikarp]:before { content: "1" ; }
span.task[al-magmar]:before { content: "5" ; }
span.task[al-magmortar]:before { content: "8" ; }
span.task[al-magnemite]:before { content: "1" ; }
span.task[al-magneton]:before { content: "4" ; }
span.task[al-magnezone]:before { content: "5" ; }
span.task[al-makuhita]:before { content: "1" ; }
span.task[al-malamar]:before { content: "4" ; }
span.task[al-mamoswine]:before { content: "6" ; }
span.task[al-mandibuzz]:before { content: "4" ; }
span.task[al-manectric]:before { content: "4" ; }
span.task[al-mankey]:before { content: "1" ; }
span.task[al-mantine]:before { content: "4" ; }
span.task[al-mantyke]:before { content: "1" ; }
span.task[al-maractus]:before { content: "1" ; }
span.task[al-mareanie]:before { content: "1" ; }
span.task[al-mareep]:before { content: "1" ; }
span.task[al-marill]:before { content: "2" ; }
span.task[al-marowak]:before { content: "7" ; }
span.task[al-marowak-alolan]:before { content: "7" ; }
span.task[al-marshtomp]:before { content: "2" ; }
span.task[al-masquerain]:before { content: "3" ; }
span.task[al-mawile]:before { content: "6" ; }
span.task[al-medicham]:before { content: "5" ; }
span.task[al-meditite]:before { content: "1" ; }
span.task[al-meganium]:before { content: "3" ; }
span.task[al-meowstic]:before { content: "3" ; }
span.task[al-meowth]:before { content: "1" ; }
span.task[al-meowth-alolan]:before { content: "1" ; }
span.task[al-metagross]:before { content: "9" ; }
span.task[al-metang]:before { content: "4" ; }
span.task[al-metapod]:before { content: "1" ; }
span.task[al-mienfoo]:before { content: "1" ; }
span.task[al-mienshao]:before { content: "4" ; }
span.task[al-mightyena]:before { content: "2" ; }
span.task[al-milotic]:before { content: "4" ; }
span.task[al-miltank]:before { content: "6" ; }
span.task[al-mimejr.]:before { content: "1" ; }
span.task[al-mimikyu]:before { content: "3" ; }
span.task[al-minccino]:before { content: "1" ; }
span.task[al-minior]:before { content: "2" ; }
span.task[al-minun]:before { content: "1" ; }
span.task[al-misdreavus]:before { content: "2" ; }
span.task[al-mismagius]:before { content: "9" ; }
span.task[al-monferno]:before { content: "3" ; }
span.task[al-morelull]:before { content: "1" ; }
span.task[al-mothim]:before { content: "1" ; }
span.task[al-mr.mime]:before { content: "9" ; }
span.task[al-mudbray]:before { content: "1" ; }
span.task[al-mudkip]:before { content: "1" ; }
span.task[al-mudsdale]:before { content: "3" ; }
span.task[al-muk]:before { content: "8" ; } 
span.task[al-muk-alolan]:before { content: "8" ; }
span.task[al-munchlax]:before { content: "3" ; }
span.task[al-munna]:before { content: "1" ; }
span.task[al-murkrow]:before { content: "1" ; }
span.task[al-musharna]:before { content: "2" ; }
span.task[al-natu]:before { content: "1" ; }
span.task[al-nidoking]:before { content: "8" ; }
span.task[al-nidoqueen]:before { content: "8" ; }
span.task[al-nidoranf]:before { content: "1" ; }
span.task[al-nidoranm]:before { content: "1" ; }
span.task[al-nidorina]:before { content: "3" ; }
span.task[al-nidorino]:before { content: "3" ; }
span.task[al-nincada]:before { content: "1" ; }
span.task[al-ninetales]:before { content: "5" ; }
span.task[al-ninetales-alolan]:before { content: "2" ; }
span.task[al-ninjask]:before { content: "2" ; }
span.task[al-noctowl]:before { content: "3" ; }
span.task[al-noibat]:before { content: "2" ; }
span.task[al-noivern]:before { content: "4" ; }
span.task[al-nosepass]:before { content: "1" ; }
span.task[al-numel]:before { content: "1" ; }
span.task[al-nuzleaf]:before { content: "2" ; }
span.task[al-octillery]:before { content: "7" ; }
span.task[al-oddish]:before { content: "1" ; }
span.task[al-omanyte]:before { content: "1" ; }
span.task[al-omastar]:before { content: "3" ; }
span.task[al-onix]:before { content: "1" ; }
span.task[al-oranguru]:before { content: "4" ; }
span.task[al-oricorio]:before { content: "2" ; }
span.task[al-oshawott]:before { content: "1" ; }
span.task[al-pachirisu]:before { content: "1" ; }
span.task[al-palossand]:before { content: "3" ; }
span.task[al-palpitoad]:before { content: "2" ; }
span.task[al-pancham]:before { content: "1" ; }
span.task[al-pangoro]:before { content: "5" ; }
span.task[al-panpour]:before { content: "1" ; }
span.task[al-pansage]:before { content: "1" ; }
span.task[al-pansear]:before { content: "1" ; }
span.task[al-paras]:before { content: "1" ; }
span.task[al-parasect]:before { content: "2" ; }
span.task[al-passimian]:before { content: "3" ; }
span.task[al-patrat]:before { content: "1" ; }
span.task[al-pawniard]:before { content: "1" ; }
span.task[al-pelipper]:before { content: "3" ; }
span.task[al-persian]:before { content: "4" ; }
span.task[al-persian-alolan]:before { content: "4" ; }
span.task[al-petilil]:before { content: "1" ; }
span.task[al-phanpy]:before { content: "1" ; }
span.task[al-phantump]:before { content: "1" ; }
span.task[al-phione]:before { content: "1" ; }
span.task[al-pichu]:before { content: "2" ; }
span.task[al-pidgeot]:before { content: "4" ; }
span.task[al-pidgeotto]:before { content: "2" ; }
span.task[al-pidgey]:before { content: "1" ; }
span.task[al-pidove]:before { content: "1" ; }
span.task[al-pignite]:before { content: "2" ; }
span.task[al-pikachu]:before { content: "4" ; }
span.task[al-pikipek]:before { content: "1" ; }
span.task[al-piloswine]:before { content: "3" ; }
span.task[al-pineco]:before { content: "1" ; }
span.task[al-pinsir]:before { content: "2" ; }
span.task[al-piplup]:before { content: "1" ; }
span.task[al-plusle]:before { content: "1" ; }
span.task[al-politoed]:before { content: "5" ; }
span.task[al-poliwag]:before { content: "1" ; }
span.task[al-poliwhirl]:before { content: "2" ; }
span.task[al-poliwrath]:before { content: "5" ; }
span.task[al-ponyta]:before { content: "1" ; }
span.task[al-poochyena]:before { content: "1" ; }
span.task[al-popplio]:before { content: "1" ; }
span.task[al-porygon]:before { content: "2" ; }
span.task[al-porygon-z]:before { content: "6" ; }
span.task[al-porygon2]:before { content: "4" ; }
span.task[al-primarina]:before { content: "5" ; }
span.task[al-primeape]:before { content: "7" ; }
span.task[al-prinplup]:before { content: "2" ; }
span.task[al-probopass]:before { content: "2" ; }
span.task[al-psyduck]:before { content: "1" ; }
span.task[al-pumpkaboo]:before { content: "1" ; }
span.task[al-pupitar]:before { content: "2" ; }
span.task[al-purrloin]:before { content: "1" ; }
span.task[al-purugly]:before { content: "2" ; }
span.task[al-pyroar]:before { content: "2" ; }
span.task[al-pyukumuku]:before { content: "1" ; }
span.task[al-quagsire]:before { content: "5" ; }
span.task[al-quilava]:before { content: "2" ; }
span.task[al-quilladin]:before { content: "2" ; }
span.task[al-quilfish]:before { content: "3" ; }
span.task[al-raichu]:before { content: "7" ; }
span.task[al-raichu-alolan]:before { content: "6" ; }
span.task[al-ralts]:before { content: "2" ; }
span.task[al-rampardos]:before { content: "6" ; }
span.task[al-rapidash]:before { content: "2" ; }
span.task[al-raticate]:before { content: "4" ; }
span.task[al-raticate-alolan]:before { content: "2" ; }
span.task[al-rattata]:before { content: "1" ; }
span.task[al-rattata-alolan]:before { content: "1" ; }
span.task[al-relicanth]:before { content: "2" ; }
span.task[al-remoraid]:before { content: "2" ; }
span.task[al-reuniclus]:before { content: "5" ; }
span.task[al-rhydon]:before { content: "4" ; }
span.task[al-rhyhorn]:before { content: "3" ; }
span.task[al-rhyperior]:before { content: "7" ; }
span.task[al-ribombee]:before { content: "3" ; }
span.task[al-riolu]:before { content: "1" ; }
span.task[al-rockruff]:before { content: "1" ; }
span.task[al-roggenrola]:before { content: "1" ; }
span.task[al-roselia]:before { content: "2" ; }
span.task[al-roserade]:before { content: "4" ; }
span.task[al-rotom]:before { content: "3" ; }
span.task[al-rowlet]:before { content: "1" ; }
span.task[al-rufflet]:before { content: "1" ; }
span.task[al-sableye]:before { content: "5" ; }
span.task[al-salamence]:before { content: "7" ; }
span.task[al-salandit]:before { content: "1" ; }
span.task[al-salazzle]:before { content: "2" ; }
span.task[al-samurott]:before { content: "4" ; }
span.task[al-sandile]:before { content: "1" ; }
span.task[al-sandshrew]:before { content: "1" ; }
span.task[al-sandshrew-alolan]:before { content: "1" ; }
span.task[al-sandslash]:before { content: "3" ; }
span.task[al-sandslash-alolan]:before { content: "2" ; }
span.task[al-sandygast]:before { content: "1" ; }
span.task[al-sawk]:before { content: "3" ; }
span.task[al-sawsbuck]:before { content: "2" ; }
span.task[al-scatterbug]:before { content: "1" ; }
span.task[al-sceptile]:before { content: "4" ; }
span.task[al-scizor]:before { content: "4" ; }
span.task[al-scolipede]:before { content: "6" ; }
span.task[al-scrafty]:before { content: "4" ; }
span.task[al-scraggy]:before { content: "1" ; }
span.task[al-scyther]:before { content: "2" ; }
span.task[al-seadra]:before { content: "2" ; }
span.task[al-seaking]:before { content: "2" ; }
span.task[al-sealeo]:before { content: "2" ; }
span.task[al-seedot]:before { content: "1" ; }
span.task[al-seel]:before { content: "1" ; }
span.task[al-seismitoad]:before { content: "3" ; }
span.task[al-sentret]:before { content: "1" ; }
span.task[al-serperior]:before { content: "3" ; }
span.task[al-servine]:before { content: "2" ; }
span.task[al-seviper]:before { content: "3" ; }
span.task[al-sewaddle]:before { content: "1" ; }
span.task[al-sharpedo]:before { content: "3" ; }
span.task[al-shedinja]:before { content: "2" ; }
span.task[al-shelgon]:before { content: "3" ; }
span.task[al-shellder]:before { content: "1" ; }
span.task[al-shellos]:before { content: "1" ; }
span.task[al-shelmet]:before { content: "1" ; }
span.task[al-sheildon]:before { content: "1" ; }
span.task[al-shiftry]:before { content: "3" ; }
span.task[al-shiinotic]:before { content: "2" ; }
span.task[al-shinx]:before { content: "1" ; }
span.task[al-shroomish]:before { content: "1" ; }
span.task[al-shuckle]:before { content: "1" ; }
span.task[al-shuppet]:before { content: "2" ; }
span.task[al-sigilyph]:before { content: "4" ; }
span.task[al-silcoon]:before { content: "1" ; }
span.task[al-silvally]:before { content: "5" ; }
span.task[al-simipour]:before { content: "2" ; }
span.task[al-simisage]:before { content: "2" ; }
span.task[al-simisear]:before { content: "2" ; }
span.task[al-skarmory]:before { content: "3" ; }
span.task[al-skiddo]:before { content: "1" ; }
span.task[al-skiploom]:before { content: "2" ; }
span.task[al-skitty]:before { content: "1" ; }
span.task[al-skorupi]:before { content: "1" ; }
span.task[al-skrelp]:before { content: "1" ; }
span.task[al-skuntank]:before { content: "4" ; }
span.task[al-slaking]:before { content: "9" ; }
span.task[al-slakoth]:before { content: "1" ; }
span.task[al-sliggoo]:before { content: "2" ; }
span.task[al-slowbro]:before { content: "7" ; }
span.task[al-slowking]:before { content: "7" ; }
span.task[al-slowpoke]:before { content: "1" ; }
span.task[al-slugma]:before { content: "2" ; }
span.task[al-slurpuff]:before { content: "4" ; }
span.task[al-smeargle]:before { content: "1" ; }
span.task[al-smoochum]:before { content: "1" ; }
span.task[al-sneasel]:before { content: "1" ; }
span.task[al-snivy]:before { content: "1" ; }
span.task[al-snorlax]:before { content: "10" ; }
span.task[al-snorunt]:before { content: "1" ; }
span.task[al-snover]:before { content: "1" ; }
span.task[al-snubbull]:before { content: "2" ; }
span.task[al-solosis]:before { content: "1" ; }
span.task[al-solrock]:before { content: "3" ; }
span.task[al-spearow]:before { content: "1" ; }
span.task[al-spewpa]:before { content: "1" ; }
span.task[al-spheal]:before { content: "1" ; }
span.task[al-spinarak]:before { content: "1" ; }
span.task[al-spinda]:before { content: "3" ; }
span.task[al-spiritomb]:before { content: "3" ; }
span.task[al-spoink]:before { content: "1" ; }
span.task[al-spritzee]:before { content: "1" ; }
span.task[al-squirtle]:before { content: "1" ; }
span.task[al-stantler]:before { content: "2" ; }
span.task[al-staraptor]:before { content: "3" ; }
span.task[al-staravia]:before { content: "2" ; }
span.task[al-starly]:before { content: "1" ; }
span.task[al-starmie]:before { content: "7" ; }
span.task[al-staryu]:before { content: "1" ; }
span.task[al-steelix]:before { content: "6" ; }
span.task[al-steenee]:before { content: "2" ; }
span.task[al-stoutland]:before { content: "4" ; }
span.task[al-stufful]:before { content: "1" ; }
span.task[al-stunfisk]:before { content: "4" ; }
span.task[al-stunky]:before { content: "1" ; }
span.task[al-sudowoodo]:before { content: "2" ; }
span.task[al-sunflora]:before { content: "2" ; }
span.task[al-sunkern]:before { content: "1" ; }
span.task[al-surskit]:before { content: "1" ; }
span.task[al-swablu]:before { content: "1" ; }
span.task[al-swadloon]:before { content: "2" ; }
span.task[al-swalot]:before { content: "5" ; }
span.task[al-swampert]:before { content: "5" ; }
span.task[al-swanna]:before { content: "2" ; }
span.task[al-swellow]:before { content: "2" ; }
span.task[al-swinub]:before { content: "1" ; }
span.task[al-swirlix]:before { content: "1" ; }
span.task[al-swoobat]:before { content: "3" ; }
span.task[al-sylveon]:before { content: "3" ; }
span.task[al-taillow]:before { content: "1" ; }
span.task[al-talonflame]:before { content: "3" ; }
span.task[al-tangela]:before { content: "2" ; }
span.task[al-tangrowth]:before { content: "6" ; }
span.task[al-tauros]:before { content: "5" ; }
span.task[al-teddiursa]:before { content: "2" ; }
span.task[al-tentacool]:before { content: "1" ; }
span.task[al-tentacruel]:before { content: "5" ; }
span.task[al-tepig]:before { content: "1" ; }
span.task[al-throh]:before { content: "3" ; }
span.task[al-timburr]:before { content: "1" ; }
span.task[al-tirtouga]:before { content: "1" ; }
span.task[al-togedemaru]:before { content: "1" ; }
span.task[al-togekiss]:before { content: "6" ; }
span.task[al-togepi]:before { content: "1" ; }
span.task[al-togetic]:before { content: "4" ; }
span.task[al-torchic]:before { content: "1" ; }
span.task[al-torkoal]:before { content: "3" ; }
span.task[al-torracat]:before { content: "2" ; }
span.task[al-torterra]:before { content: "4" ; }
span.task[al-totodile]:before { content: "1" ; }
span.task[al-toucannon]:before { content: "3" ; }
span.task[al-toxapex]:before { content: "2" ; }
span.task[al-toxicroak]:before { content: "5" ; }
span.task[al-tranquill]:before { content: "2" ; }
span.task[al-trapinch]:before { content: "1" ; }
span.task[al-treecko]:before { content: "1" ; }
span.task[al-trevenant]:before { content: "4" ; }
span.task[al-tropius]:before { content: "3" ; }
span.task[al-trubbish]:before { content: "1" ; }
span.task[al-trumbeak]:before { content: "2" ; }
span.task[al-tsareena]:before { content: "3" ; }
span.task[al-turtonator]:before { content: "4" ; }
span.task[al-turtwig]:before { content: "1" ; }
span.task[al-tympole]:before { content: "1" ; }
span.task[al-tynamo]:before { content: "1" ; }
span.task[al-type:null]:before { content: "2" ; }
span.task[al-typhlosion]:before { content: "4" ; }
span.task[al-tyranitar]:before { content: "6" ; }
span.task[al-tyrantrum]:before { content: "4" ; }
span.task[al-tyrogue]:before { content: "1" ; }
span.task[al-tyrunt]:before { content: "1" ; }
span.task[al-umbreon]:before { content: "3" ; }
span.task[al-unfezant]:before { content: "3" ; }
span.task[al-unown]:before { content: "1" ; }
span.task[al-ursaring]:before { content: "6" ; }
span.task[al-vanillish]:before { content: "2" ; }
span.task[al-vanillite]:before { content: "1" ; }
span.task[al-vanilluxe]:before { content: "3" ; }
span.task[al-vaporeon]:before { content: "3" ; }
span.task[al-venipede]:before { content: "1" ; }
span.task[al-venomoth]:before { content: "4" ; }
span.task[al-venonat]:before { content: "1" ; }
span.task[al-venusaur]:before { content: "5" ; }
span.task[al-venusaur-mega]:before { content: url(../itemsprites/venusaurite.png) ; }
span.task[al-vespiquen]:before { content: "1" ; }
span.task[al-vibrava]:before { content: "2" ; }
span.task[al-victreebel]:before { content: "3" ; }
span.task[al-vigoroth]:before { content: "3" ; }
span.task[al-vikavolt]:before { content: "5" ; }
span.task[al-vileplume]:before { content: "3" ; }
span.task[al-vivillon]:before { content: "1" ; }
span.task[al-volbeat]:before { content: "4" ; }
span.task[al-volcarona]:before { content: "3" ; }
span.task[al-voltorb]:before { content: "1" ; }
span.task[al-vullaby]:before { content: "1" ; }
span.task[al-vulpix]:before { content: "1" ; }
span.task[al-vulpix-alolan]:before { content: "1" ; }
span.task[al-wailmer]:before { content: "1" ; }
span.task[al-wailord]:before { content: "3" ; }
span.task[al-walrein]:before { content: "4" ; }
span.task[al-wartortle]:before { content: "2" ; }
span.task[al-watchog]:before { content: "3" ; }
span.task[al-weavile]:before { content: "3" ; }
span.task[al-weedle]:before { content: "1" ; }
span.task[al-weepinbell]:before { content: "2" ; }
span.task[al-weezing]:before { content: "5" ; }
span.task[al-whimsicott]:before { content: "2" ; }
span.task[al-whirlipede]:before { content: "2" ; }
span.task[al-whiscash]:before { content: "3" ; }
span.task[al-whismur]:before { content: "2" ; }
span.task[al-wigglytuff]:before { content: "10" ; }
span.task[al-wimpod]:before { content: "1" ; }
span.task[al-wingull]:before { content: "1" ; }
span.task[al-wishiwashi]:before { content: "1" ; }
span.task[al-wobbuffet]:before { content: "1" ; }
span.task[al-woobat]:before { content: "1" ; }
span.task[al-wooper]:before { content: "1" ; }
span.task[al-wormadam]:before { content: "1" ; }
span.task[al-wurmple]:before { content: "1" ; }
span.task[al-wynaut]:before { content: "1" ; }
span.task[al-xatu]:before { content: "4" ; }
span.task[al-yamask]:before { content: "1" ; }
span.task[al-yanma]:before { content: "1" ; }
span.task[al-yanmega]:before { content: "2" ; }
span.task[al-yungoos]:before { content: "1" ; }
span.task[al-zangoose]:before { content: "5" ; }
span.task[al-zebstrika]:before { content: "2" ; }
span.task[al-zigzagoon]:before { content: "1" ; }
span.task[al-zoroark]:before { content: "4" ; }
span.task[al-zorua]:before { content: "1" ; }
span.task[al-zubat]:before { content: "1" ; }
span.task[al-zweilous]:before { content: "2" ; }