div.task[ts-bug]:before { content: url(../typesprites/bug.png) ; }
div.task[ts-dark]:before { content: url(../typesprites/dark.png) ; }
div.task[ts-dragon]:before { content: url(../typesprites/dragon.png) ; }
div.task[ts-electric]:before { content: url(../typesprites/electric.png) ; }
div.task[ts-fairy]:before { content: url(../typesprites/fairy.png) ; }
div.task[ts-fighting]:before { content: url(../typesprites/fighting.png) ; }
div.task[ts-fire]:before { content: url(../typesprites/fire.png) ; }
div.task[ts-flying]:before { content: url(../typesprites/flying.png) ; }
div.task[ts-ghost]:before { content: url(../typesprites/ghost.png) ; }
div.task[ts-grass]:before { content: url(../typesprites/grass.png) ; }
div.task[ts-ground]:before { content: url(../typesprites/ground.png) ; }
div.task[ts-ice]:before { content: url(../typesprites/ground.png) ; }
div.task[ts-mega]:before { content: url(../typesprites/mega.png) ; }
div.task[ts-normal]:before { content: url(../typesprites/normal.png) ; }
div.task[ts-poison]:before { content: url(../typesprites/poison.png) ; }
div.task[ts-psychic]:before { content: url(../typesprites/psychic.png) ; }
div.task[ts-rock]:before { content: url(../typesprites/rock.png) ; }
div.task[ts-steel]:before { content: url(../typesprites/steel.png) ; }
div.task[ts-variable]:before { content: url(../typesprites/variable.png) ; }
div.task[ts-water]:before { content: url(../typesprites/water.png) ; }